:root .theme_dark {
  --alfa-channel: rgba(255, 0, 112, 0.4);
  --title-text-color: #db00ff;
  --main-text-color: #f1b2ce;
  --decorated-zone-color: #ff0070;
  --bg-title-color: #ff0070;
  --accent-color: #ff0070;
  --main-color: #000028;
  --bg-color: #000028;
  --inf-title-color: #ff0070;
  --inf-subtitle-color: #000028;
  --image-body: url(../images/cover-image-dark.png);
}

@media (prefers-color-scheme: dark) {
  :root {
    --alfa-channel: rgba(255, 0, 112, 0.4);
    --title-text-color: #db00ff;
    --main-text-color: #f1b2ce;
    --decorated-zone-color: #ff0070;
    --bg-title-color: #ff0070;
    --accent-color: #ff0070;
    --main-color: #000028;
    --bg-color: #000028;
    --inf-title-color: #ff0070;
    --inf-subtitle-color: #000028;
    --image-body: url(../images/cover-image-dark.png);
  }
}

.page.theme_dark {
  .header__lamp-text::before {
    content: "REC";
    font-family: var(--main-font);
    font-size: var(--main-font-size);
    top: 10px;
    right: 38px;
    font-weight: 400;
    line-height: 25px;
		text-transform: uppercase;
  }

  .header__lamp-text::after {
    content: "";
    position: absolute;
    width: 9px;
    height: 9px;
    top: 8px;
    right: -18px;
    border-radius: 50%;
    box-shadow: 0px 0px 4px 2px var(--accent-color);
    background-color: var(--accent-color);
  }
}
