:root .theme_dark {
  --alfa-channel: rgba(255, 0, 112, 0.4);
  --title-text-color: #db00ff;
  --main-text-color: #f1b2ce;
  --decorated-zone-color: #ff0070;
  --bg-title-color: #ff0070;
  --accent-color: #ff0070;
  --lamp-color: #ff0070;
  --main-color: #000028;
  --bg-color: #000028;
  --inf-title-color: #ff0070;
  --inf-subtitle-color: #000028;
  --image-body: url(../images/cover-image-dark.png);
}
