.page {
  width: 100%;
  margin: 0 auto;
  background-color: var(--bg-color);
  background-image: var(--image-body);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  justify-content: center;
}

.header {
  display: grid;
  position: relative;
  grid-template-columns: 1fr;
  grid-template-rows:
    1fr
    min-content
    1fr;
  padding: 10px;
  min-height: 668px;
  height: 56vh;
}

.header__theme-menu {
  justify-self: end;
  align-self: center;
}

.header__theme-menu-button_active {
  pointer-events: none;
  outline: 1px solid var(--decorated-zone-color);
}

.header__lamp-text {
  position: absolute;
  color: var(--accent-color);
  font-family: var(--main-font);
  font-size: var(--main-font-size);
  top: 10px;
  right: 38px;
  font-weight: 400;
  line-height: 25px;
}

.header__lamp-text::before {
  content: "REC";
  font-family: var(--main-font);
  font-size: var(--main-font-size);
  top: 10px;
  right: 38px;
  font-weight: 400;
  line-height: 25px;
	text-transform: uppercase;
}

.header__lamp-text::after {
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  top: 8px;
  right: -18px;
  border-radius: 50%;
  box-shadow: 0px 0px 4px 2px var(--accent-color);
  background-color: var(--accent-color);
}

.decorated-zone::after {
  content: "";
  position: absolute;
  top: 10px;
  right: 10px;
  border-block-start: 1px solid var(--decorated-zone-color);
  border-inline-end: 1px solid var(--decorated-zone-color);
  inline-size: 25px;
  block-size: 25px;
}

.decorated-zone::before {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 25px;
  height: 25px;
  border-inline-start: 1px solid var(--decorated-zone-color);
  border-block-end: 1px solid var(--decorated-zone-color);
}

.header__theme-menu-list {
  display: grid;
  row-gap: 10px;
  justify-content: end;
  align-content: center;
  padding: 0 1px 0 0;
}

.header__theme-menu-button {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: var(--main-font-size);
  line-height: 18px;
  color: var(--decorated-zone-color);
  text-transform: lowercase;
  width: 70px;
  height: 26px;
  border: none;
  background: none;
}

.header__theme-menu-button:hover {
  cursor: pointer;
  outline: 1px solid var(--alfa-channel);
}

.header__theme-menu-button:focus {
  border-block-end: 1px solid var(--decorated-zone-color);
  outline: none;
}

.title-decor {
  background-color: var(--bg-title-color);
  color: var(--inf-subtitle-color);
  font-family: var(--main-font);
  font-size: var(--main-font-size);
  font-weight: 700;
  line-height: var(--main-line-height);
  text-align: left;
  height: fit-content;
}

.header__text-title {
  color: var(--title-text-color);
  font-family: var(--main-font);
  font-size: var(--logo-size);
  font-weight: 700;
  line-height: 82.5%;
  text-align: left;
  text-shadow: 4px 4px var(--accent-color);
}

.header__main-text {
  align-self: center;
  justify-self: center;
}

.content {
  display: grid;
  grid-row-gap: 50px;
  padding: 40px 10px 40px 10px;
}

.information {
  display: grid;
  grid-row-gap: 20px;
  height: fit-content;
  font-family: var(--main-font);
  font-weight: 400;
  font-size: var(--main-font-size);
  line-height: var(--main-line-height);
}

.information__title {
  color: var(--inf-title-color);
  font-weight: 700;
  font-size: var(--main-font-size);
}

.infomation__card {
  display: grid;
  grid-row-gap: 20px;
}

.infomation__card-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.information__subtitle {
  background-color: var(--bg-title-color);
  color: var(--inf-subtitle-color);
  font-weight: 700;
}

.information__subtitle-list {
  background-color: var(--bg-title-color);
  color: var(--inf-subtitle-color);
  font-weight: 400;
}

.information__text {
  color: var(--main-text-color);
}

.infomation__card-link {
  text-shadow: 3px 2px var(--bg-title-color);
  text-decoration: none;
  cursor: pointer;
}

.infomation__card-link:hover {
  border-bottom: 1px solid currentColor;
}

.infomation__card-link:focus {
  outline: none;
}

.infomation__card-link:focus-visible {
  outline: 1px solid var(--main-text-color);
}

.gallery {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, minmax(355px, 1fr));
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
  position: relative;
  height: 56vh;
  min-height: 668px;
  display: grid;
  place-items: center;
}

.footer__text-title {
  color: var(--title-text-color);
  font-family: var(--main-font);
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  font-weight: 700;
  text-align: left;
  line-height: 82.5%;
  text-shadow: 2px 2px var(--accent-color);
}

.information:last-child {
  gap: 10px;
}

@media (min-width: 768px) {
  :root {
    --logo-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header {
    grid-template-rows:
      1fr
      min-content
      1fr;
    padding: 20px;
    height: 85vh;
    min-height: 1024px;
  }

  .header__text-title {
    margin-inline-start: -21px;
    font-size: var(--logo-size);
  }

  .header__theme-menu-list {
    padding: 0;
  }

  .header__lamp-text {
    top: 20px;
    right: 48px;
  }

  .decorated-zone::after {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::before {
    bottom: 20px;
    left: 20px;
  }

  .footer__text-title {
    font-size: var(--logo-size);
  }

  .header__main-text {
    display: flex;
    flex-direction: column;
    justify-self: end;
    width: 50%;
  }

  .content {
    grid-row-gap: 80px;
    padding: 60px 20px 0 20px;
  }

  .information {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 20px;
  }

  .accent-card-grid {
    grid-column-start: 2;
    grid-column-end: 2;
  }

  .information:nth-child(2) {
    grid-template-columns: 1fr;
  }

  .information__title {
    width: 30vw;
  }

  .image-card-display {
    display: block;
  }

  .image-card-display .information__subtitle {
    margin-bottom: 20px;
  }

  .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 0.5fr 1fr;
    gap: 20px 20px;
    grid-template-areas:
      "sunset sunset ice-cream"
      "cassette book ice-cream"
      "cassette street street";
    margin-bottom: 60px;
  }

  .gallery__img:nth-child(1) {
    grid-area: sunset;
    grid-column: 1 / span 2;
    grid-row: 1/2;
  }

  .gallery__img:nth-child(2) {
    grid-area: ice-cream;
    grid-column: 3;
    grid-row: 1 / span 2;
  }

  .gallery__img:nth-child(3) {
    grid-area: cassette;
    grid-column: 1;
    grid-row: 2 / span 2;
  }

  .gallery__img:nth-child(4) {
    grid-area: book;
    grid-column: 2;
    grid-row: 2;
  }

  .gallery__img:nth-child(5) {
    grid-area: street;
    grid-column: 2 / span 2;
    grid-row: 3;
  }

  .footer {
    height: 85vh;
    min-height: 1024px;
  }
}

@media (min-width: 1024px) {
  :root {
    --logo-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
  }

  .header {
    grid-template-rows:
      1fr
      min-content
      1fr;
    padding: 20px;
    height: 768px;
    min-height: 64vh;
  }

  .header__theme-menu {
    justify-self: center;
    align-self: start;
  }

  .header__theme-menu-list {
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    justify-content: center;
  }

  .header__text-title {
    font-size: var(--logo-size);
  }

  .decorated-zone::after {
    top: 20px;
    right: 20px;
  }

  .decorated-zone::before {
    bottom: 20px;
    left: 20px;
  }

  .header__main-text {
    display: flex;
    flex-direction: column;
    justify-self: end;
    width: 50%;
    align-items: end;
  }

  .content {
    grid-row-gap: 80px;
    padding: 60px 20px 0 20px;
  }

  .information {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 10px;
  }

  .information__title {
    width: 30vw;
  }

  .card-grid .infomation__card {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
  }

  .image-card-display {
    display: block;
  }

  .image-card-display .information__subtitle {
    margin-bottom: 20px;
  }

  .gallery {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 0.5fr 1fr;
  }

  .footer {
    min-height: 63vh;
    height: 768px;
  }
}
